:root{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}




section {
    padding: 60px 0;
    overflow: hidden;
}

#hero {
    width: 100%;
    height: 80vh;
    background: #37517e;
}


#hero .container {
    padding-top: 72px;
}

.row {
    
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero h2 {
    color:  #fff;;
    margin-bottom: 50px;
    font-size: 24px;
}

#hero .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #93BFCF;
}



#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img, svg {
    vertical-align: middle;
}


.section-bg {
    background-color: #f3f5fa;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}
.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}

.services .icon-box {
    box-shadow: 0px 0 25px 0 rgb(0 0 0 / 10%);
    padding: 50px 30px;
    /* transition: all ease-in-out 0.4s; */
    background: #fff;
    transition: transform 250ms;
}

.services .icon-box:hover{
    cursor: pointer;
    transform: translateY(-10px);
}

.services .icon-box .icon {
    margin-bottom: 10px;
}
.services .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
    color: #37517e;
    transition: ease-in-out 0.3s;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}




.team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    /* transition: 0.5s; */
    transition: transform 250ms;
    height: 100%;
}

.team .member:hover{
    cursor: pointer;
    transform: translateY(-15px);
}


.team .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}
.team .member .member-info {
    padding-left: 30px;
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
}
.team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}
.team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
}
.team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.team .member .pic img {
    transition: ease-in-out 0.3s;
}
.team .member .social i {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
}
