/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  overflow: hidden;
}

header .d2c-container {
  display: flex;
  padding: 76px 0;
  align-items: center;
  position: relative;
}

header .d2c-container .cptn {
  width: calc(100% - 450px);
}
header .d2c-container .cptn h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #1c4980;
  margin-bottom: 20px;
}

header .d2c-container .cptn p {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1c4980;
  margin-bottom: 30px;
}

.hero-btn-group {
  margin-bottom: 70px;
}

.btn.waves-effect {
  height: 42px;
  box-shadow: none;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-radius: 8px;
} */
